/* line 30, ../sass/style.scss */
html {
  overflow-x: hidden;
}
/* line 31, ../sass/style.scss */
html a:active, html a:focus {
  outline: none;
}
/* line 33, ../sass/style.scss */
html input, html textarea {
  outline: none;
}
/* line 34, ../sass/style.scss */
html input:active, html textarea:active {
  outline: none;
}
/* line 35, ../sass/style.scss */
html :focus {
  outline: none;
}
/* line 36, ../sass/style.scss */
html textarea {
  resize: none;
}
/* line 37, ../sass/style.scss */
html textarea {
  resize: vertical;
}
/* line 38, ../sass/style.scss */
html textarea {
  resize: horizontal;
}
/* line 39, ../sass/style.scss */
html button:active, html button:focus {
  outline: none !important;
}
/* line 42, ../sass/style.scss */
html button::-moz-focus-inner {
  border: 0 !important;
}
/* line 48, ../sass/style.scss */
html .register_button {
  width: 460px;
  height: 45px;
  border-radius: 2px;
  background-color: #932724;
}
/* line 54, ../sass/style.scss */
html .register_button a {
  font-family: OpenSansSemibold;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #fafafa;
  display: block;
  line-height: 43px;
  text-decoration: none;
}
/* line 63, ../sass/style.scss */
html .register_button a:hover {
  cursor: url("../images/cursor_arrow.png"), auto;
}
/* line 68, ../sass/style.scss */
html .button {
  width: 138px;
  height: 30px;
  border-radius: 2px;
  border: solid 1px #c6afa1;
  padding-left: 16px;
  margin-left: 93px;
}
/* line 76, ../sass/style.scss */
html .button a {
  font-family: OpenSansItalic;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  color: #c6afa1;
  text-decoration: none;
  line-height: 27px;
  display: block;
  position: relative;
}
/* line 86, ../sass/style.scss */
html .button a span {
  font-family: OpenSans;
  font-style: normal;
  border-left: 1px solid;
  margin-left: 8px;
  padding-left: 12px;
  height: 24px;
  line-height: 25px;
  position: absolute;
  margin-top: 2px;
}
/* line 100, ../sass/style.scss */
html #map {
  height: 420px;
  width: 555px;
}
/* line 104, ../sass/style.scss */
html .gm-style-iw * {
  display: block;
  width: 100%;
}
/* line 108, ../sass/style.scss */
html .gm-style-iw h4, html .gm-style-iw p {
  margin: 0;
  padding: 0;
}
/* line 112, ../sass/style.scss */
html .gm-style-iw a {
  color: #4272db;
}

/* line 117, ../sass/style.scss */
body {
  font-family: OpenSans;
}

/* line 121, ../sass/style.scss */
.site {
  position: relative;
}
/* line 123, ../sass/style.scss */
.site .min_call_wrap {
  display: block;
  position: fixed;
  top: 77px;
  right: 0;
  width: 64px;
  height: 45px;
  border-radius: 2px;
  background-color: #932724;
  z-index: 40;
}
/* line 133, ../sass/style.scss */
.site .min_call_wrap a {
  display: block;
  padding-bottom: 10px;
}
/* line 137, ../sass/style.scss */
.site .min_call_wrap img {
  margin-top: 12px;
  margin-left: 10px;
}
/* line 142, ../sass/style.scss */
.site .max_call_wrap {
  display: none;
  position: fixed;
  top: 217px;
  right: 0;
  width: 402px;
  height: 160px;
  border-radius: 2px;
  background-color: #932724;
  z-index: 1000000;
}
/* line 152, ../sass/style.scss */
.site .max_call_wrap .phone {
  margin-top: 30px;
  margin-left: 25px;
}
/* line 155, ../sass/style.scss */
.site .max_call_wrap .phone a {
  text-decoration: none;
}
/* line 157, ../sass/style.scss */
.site .max_call_wrap .phone a img {
  float: left;
  margin-top: 5px;
}
/* line 161, ../sass/style.scss */
.site .max_call_wrap .phone a p {
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  color: #ffffff;
  padding-left: 34px;
}
/* line 171, ../sass/style.scss */
.site .max_call_wrap .time {
  margin-top: 19px;
  margin-left: 25px;
}
/* line 174, ../sass/style.scss */
.site .max_call_wrap .time img {
  float: left;
  margin-top: 5px;
  padding-bottom: 30px;
}
/* line 179, ../sass/style.scss */
.site .max_call_wrap .time p {
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  color: #ffffff;
  padding-left: 34px;
}

/* line 191, ../sass/style.scss */
.hamburger_menu {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -15px;
  width: 105%;
  height: 640px;
  opacity: 0.9;
  background-color: #ffffff;
  z-index: 20;
}
/* line 204, ../sass/style.scss */
.hamburger_menu .close_button {
  position: absolute;
  top: 11px;
  left: 30px;
  z-index: 30;
}
/* line 210, ../sass/style.scss */
.hamburger_menu ul {
  position: absolute;
  top: 60px;
  left: 30px;
  list-style-type: none;
  margin-top: 23px;
  padding: 0;
  overflow: hidden;
  z-index: 30;
}
/* line 220, ../sass/style.scss */
.hamburger_menu li {
  margin-bottom: 52px;
}
/* line 222, ../sass/style.scss */
.hamburger_menu li a {
  font-family: CormorantBold;
  font-size: 24px;
  font-weight: 700;
  color: #932724;
  z-index: 30;
}
/* line 230, ../sass/style.scss */
.hamburger_menu .line-top {
  position: absolute;
  top: 135px;
  left: 25px;
  width: 92.5%;
  z-index: 30;
  border-bottom: 3px solid #932724;
}
/* line 238, ../sass/style.scss */
.hamburger_menu .line-bottom {
  position: absolute;
  top: 579px;
  left: 25px;
  width: 92.5%;
  z-index: 30;
  border-bottom: 3px solid #932724;
}

/* line 248, ../sass/style.scss */
.header {
  position: relative;
}
/* line 250, ../sass/style.scss */
.header .white_line {
  height: 68px;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba(155, 154, 155, 0.28);
}
/* line 255, ../sass/style.scss */
.header .site-branding {
  float: left;
  margin-top: 17px;
}
/* line 259, ../sass/style.scss */
.header .menu-toggle {
  display: none;
  float: right;
  margin-top: 12px;
  border: 0;
  background-color: #fff;
}
/* line 268, ../sass/style.scss */
.header header nav {
  float: right;
  /* Change the link color on hover */
}
/* line 270, ../sass/style.scss */
.header header nav ul {
  list-style-type: none;
  margin-top: 23px;
  padding: 0;
}
/* line 275, ../sass/style.scss */
.header header nav li {
  float: left;
}
/* line 278, ../sass/style.scss */
.header header nav li a {
  display: block;
  font-family: CormorantBold;
  font-size: 19px;
  font-weight: 700;
  color: #932724;
  margin-left: 50px;
  text-decoration: none;
}
/* line 289, ../sass/style.scss */
.header header nav li a:hover {
  background-color: #555;
  color: white;
}

/* line 299, ../sass/style.scss */
.top_content {
  background: url(../images/city_house.jpg) no-repeat center;
  background-size: cover;
}
/* line 303, ../sass/style.scss */
.top_content .logo {
  margin-top: 277px;
  text-align: center;
}
/* line 307, ../sass/style.scss */
.top_content .site-description {
  font-family: OpenSans;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.38;
  color: #932724;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 227px;
}

/* line 320, ../sass/style.scss */
.slider_top {
  position: relative;
  max-width: 945px;
  max-height: 379px;
  margin: -199px auto 0;
  box-shadow: 0 0 30px 10px rgba(155, 155, 155, 0.5);
  border-radius: 5px;
  overflow: hidden;
}
/* line 329, ../sass/style.scss */
.slider_top .item img {
  width: 100%;
}
/* line 333, ../sass/style.scss */
.slider_top img {
  border-radius: 5px;
}
/* line 336, ../sass/style.scss */
.slider_top .slick-prev {
  position: absolute;
  right: 31px;
  bottom: -1px;
  z-index: 10;
}
/* line 342, ../sass/style.scss */
.slider_top .slick-next {
  position: absolute;
  right: 0;
  bottom: -1px;
}

/* line 349, ../sass/style.scss */
.about_advantages {
  margin-top: 130px;
}
/* line 351, ../sass/style.scss */
.about_advantages .title {
  font-family: CormorantSemiBold;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #3e3e3e;
}
/* line 358, ../sass/style.scss */
.about_advantages .line {
  width: 66px;
  height: 2px;
  border-bottom: solid 2px #932724;
  margin-top: 16px;
}
/* line 364, ../sass/style.scss */
.about_advantages .about {
  overflow: hidden;
}
/* line 366, ../sass/style.scss */
.about_advantages .about .text {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  color: #9d9d9d;
  margin-left: 94px;
  margin-top: -9px;
}
/* line 375, ../sass/style.scss */
.about_advantages .about .register_button {
  margin-top: 42px;
  float: right;
}
/* line 381, ../sass/style.scss */
.about_advantages .advantages img {
  width: 65px;
  height: 65px;
  margin-left: 94px;
  margin-bottom: 65px;
}
/* line 387, ../sass/style.scss */
.about_advantages .advantages p {
  font-family: OpenSansSemibold;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.78;
  color: #3e3e3e;
  margin-left: 187px;
  margin-top: -110px;
  margin-bottom: 71px;
}
/* line 396, ../sass/style.scss */
.about_advantages .advantages p:last-child {
  margin-top: -130px;
}

/* line 404, ../sass/style.scss */
.treatment .title {
  font-family: CormorantSemiBold;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #3e3e3e;
  text-align: center;
  margin-top: 36px;
}
/* line 413, ../sass/style.scss */
.treatment .line {
  width: 66px;
  height: 2px;
  border-bottom: 2px solid  #932724;
  margin: 0 auto;
  margin-top: 14px;
}
/* line 420, ../sass/style.scss */
.treatment .disc {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: #9d9d9d;
  margin-top: 25px;
}
/* line 429, ../sass/style.scss */
.treatment .items {
  margin-top: 38px;
}
/* line 431, ../sass/style.scss */
.treatment .items .item {
  margin: 0 auto;
  max-width: 360px;
  overflow: hidden;
  padding-top: 48px;
  height: 235px;
}
/* line 437, ../sass/style.scss */
.treatment .items .item img {
  float: left;
}
/* line 440, ../sass/style.scss */
.treatment .items .item .title {
  font-family: OpenSansSemibold;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.78;
  color: #3e3e3e;
  text-align: left;
  margin: 0;
  margin-left: 93px;
  margin-bottom: 15px;
}
/* line 451, ../sass/style.scss */
.treatment .items .item .text {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  color: #9d9d9d;
  margin-left: 93px;
  margin-bottom: 18px;
}
/* line 462, ../sass/style.scss */
.treatment .register_button {
  margin: 31px auto 0;
}

/* line 467, ../sass/style.scss */
.price_list {
  margin-top: 130px;
}
/* line 469, ../sass/style.scss */
.price_list .title {
  font-family: CormorantSemiBold;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #3e3e3e;
}
/* line 476, ../sass/style.scss */
.price_list .line {
  width: 66px;
  height: 2px;
  border-bottom: solid 2px #932724;
  margin-top: 16px;
}
/* line 482, ../sass/style.scss */
.price_list .priceList {
  overflow: hidden;
  max-width: 555px;
  margin: 0 auto;
}
/* line 486, ../sass/style.scss */
.price_list .priceList .text {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  color: #9d9d9d;
  margin-left: 94px;
  margin-top: -9px;
}
/* line 496, ../sass/style.scss */
.price_list .priceList .register_button {
  margin-top: 42px;
  float: right;
  display: block;
}
/* line 502, ../sass/style.scss */
.price_list .tablet-res {
  display: none;
}
/* line 505, ../sass/style.scss */
.price_list .price {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 0 30px 10px rgba(155, 155, 155, 0.1);
  color: #9d9d9d;
  max-width: 555px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0 auto;
}
/* line 519, ../sass/style.scss */
.price_list .price .col_name {
  margin-bottom: 29px;
  padding-left: 19px;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 15px;
}
/* line 524, ../sass/style.scss */
.price_list .price .col_name span {
  color: #3e3e3e;
}
/* line 528, ../sass/style.scss */
.price_list .price .col_price {
  margin-left: 312px;
  margin-top: -69px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  display: block;
}
/* line 534, ../sass/style.scss */
.price_list .price .col_price span {
  color: #3e3e3e;
}
/* line 537, ../sass/style.scss */
.price_list .price .col_price span span.stick {
  margin-left: -27px;
  padding-right: 10px;
}
/* line 543, ../sass/style.scss */
.price_list .price .button {
  margin-left: 314px;
}

/* line 550, ../sass/style.scss */
.photo_gallery .title {
  font-family: CormorantSemiBold;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #3e3e3e;
  text-align: center;
}
/* line 558, ../sass/style.scss */
.photo_gallery .line {
  width: 66px;
  height: 2px;
  border-bottom: 2px solid  #932724;
  margin: 0 auto;
  margin-top: 14px;
}
/* line 565, ../sass/style.scss */
.photo_gallery .description {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
  text-align: center;
  color: #9d9d9d;
  margin-top: 24px;
  margin-bottom: 20px;
}
/* line 575, ../sass/style.scss */
.photo_gallery .slider_bottom {
  margin-top: 66px;
  border-radius: 2px;
  position: relative;
  margin: 0 -15px;
}
/* line 580, ../sass/style.scss */
.photo_gallery .slider_bottom .item {
  opacity: 0.46;
  background-color: #eed2be;
  margin: 0 15px;
}
/* line 584, ../sass/style.scss */
.photo_gallery .slider_bottom .item img {
  width: 100%;
}
/* line 587, ../sass/style.scss */
.photo_gallery .slider_bottom .item:hover {
  opacity: 1;
  cursor: url("../images/cursor_arrow.png"), auto;
}
/* line 592, ../sass/style.scss */
.photo_gallery .slider_bottom img {
  border-radius: 2px;
}
/* line 595, ../sass/style.scss */
.photo_gallery .slider_bottom .slick-prev {
  position: absolute;
  right: 44px;
  bottom: 0;
  z-index: 10;
}
/* line 601, ../sass/style.scss */
.photo_gallery .slider_bottom .slick-next {
  position: absolute;
  right: 13px;
  bottom: 0;
}

/* line 609, ../sass/style.scss */
.register_form {
  position: relative;
  max-width: 750px;
  margin: 70px auto 0;
  border-radius: 2px;
  background-color: #fffffd;
  box-shadow: 0 0 30px 10px rgba(155, 155, 155, 0.1);
  border: solid 1px #932724;
  overflow: hidden;
}
/* line 618, ../sass/style.scss */
.register_form .left {
  width: 341px;
  float: left;
  margin-right: 48px;
}
/* line 622, ../sass/style.scss */
.register_form .left .title {
  font-family: CormorantBold;
  font-size: 30px;
  font-weight: 700;
  color: #932724;
  margin-left: 27px;
  margin-top: 35px;
  z-index: 2;
}
/* line 631, ../sass/style.scss */
.register_form .left img {
  float: left;
  width: 286px;
  z-index: 1;
  margin-top: -70px;
}
/* line 638, ../sass/style.scss */
.register_form .wrap {
  margin-top: 32px;
  height: 37px;
  display: block;
  margin-bottom: 5px;
}
/* line 643, ../sass/style.scss */
.register_form .wrap label {
  display: block;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  color: #9d9d9d;
}
/* line 651, ../sass/style.scss */
.register_form .wrap label span {
  font-size: 10px;
  line-height: 1.7;
  color: #932724;
}
/* line 657, ../sass/style.scss */
.register_form .wrap input[type="text"] {
  border: 0;
  border-bottom: 1px solid #f2f2f2;
  width: 327px;
  background-color: transparent;
  font-size: 14px;
  padding-bottom: 10px;
}
/* line 665, ../sass/style.scss */
.register_form .wrap input[type="submit"] {
  width: 127px;
  height: 45px;
  border: 0;
  border-radius: 2px;
  background-color: #932724;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #fafafa;
  float: right;
  margin-right: 28px;
}
/* line 679, ../sass/style.scss */
.register_form .wrap select {
  width: 320px;
  background-color: #fff;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  color: #9d9d9d;
  border: 0;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 10px;
}

/* line 694, ../sass/style.scss */
.address {
  margin-top: 130px;
}
/* line 696, ../sass/style.scss */
.address .map {
  max-height: 420px;
  max-width: 555px;
}
/* line 699, ../sass/style.scss */
.address .map #map {
  width: 100%;
}
/* line 702, ../sass/style.scss */
.address .map .gm-style-iw * {
  display: block;
  width: 100%;
}
/* line 706, ../sass/style.scss */
.address .map .gm-style-iw h4, .address .map .gm-style-iw p {
  margin: 0;
  padding: 0;
}
/* line 710, ../sass/style.scss */
.address .map .gm-style-iw a {
  color: #4272db;
}
/* line 715, ../sass/style.scss */
.address .title {
  font-family: CormorantSemiBold;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #3e3e3e;
}
/* line 722, ../sass/style.scss */
.address .line {
  width: 66px;
  height: 2px;
  border-bottom: solid 2px #932724;
  margin-top: 16px;
}
/* line 728, ../sass/style.scss */
.address .addressList {
  max-width: 555px;
  margin: 0 auto;
}
/* line 731, ../sass/style.scss */
.address .addressList .text {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  color: #9d9d9d;
  margin-left: 94px;
  margin-top: -9px;
}
/* line 740, ../sass/style.scss */
.address .addressList .register_button {
  margin-top: 42px;
  float: right;
}
/* line 745, ../sass/style.scss */
.address .addressList .text p {
  margin-bottom: 35px;
}
/* line 747, ../sass/style.scss */
.address .addressList .text p:last-child {
  margin-bottom: 15px;
}
/* line 752, ../sass/style.scss */
.address .addressList img {
  margin-right: 18px;
}
/* line 756, ../sass/style.scss */
.address .map {
  max-width: 555px;
  margin: 0 auto;
}

/* line 761, ../sass/style.scss */
footer {
  height: 75px;
  background-color: #3e3e3e;
  padding-left: 0;
  padding-right: 0;
  margin-left: -30px;
  margin-right: -30px;
}
/* line 768, ../sass/style.scss */
footer .name_site {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  color: #ffffff;
  text-align: center;
  padding-top: 12px;
}
/* line 777, ../sass/style.scss */
footer .copy {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  color: #ffffff;
  text-align: center;
  margin-top: 8px;
}

@media only screen and (max-width: 1170px) {
  /* line 792, ../sass/style.scss */
  .header .white_line {
    height: 46px !important;
  }
  /* line 795, ../sass/style.scss */
  .header .site-branding {
    margin-top: 5px;
  }
  /* line 798, ../sass/style.scss */
  .header .menu-toggle {
    display: block !important;
  }
  /* line 801, ../sass/style.scss */
  .header nav ul {
    display: none !important;
  }
}
@media only screen and (max-width: 991px) {
  /* line 810, ../sass/style.scss */
  .desc-res {
    display: none !important;
  }

  /* line 813, ../sass/style.scss */
  .tablet-res {
    display: block !important;
  }
}
@media only screen and (max-width: 768px) {
  /* line 820, ../sass/style.scss */
  .top_content .logo {
    margin-top: 162px;
  }
  /* line 823, ../sass/style.scss */
  .top_content .site-description {
    font-weight: 400;
    color: #932724;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 227px;
    font-size: 36px;
    line-height: 1.53;
  }

  /* line 834, ../sass/style.scss */
  .slider_top {
    margin: -135px auto 0;
  }

  /* line 837, ../sass/style.scss */
  .about_advantages {
    margin-top: 74px;
  }
  /* line 840, ../sass/style.scss */
  .about_advantages .about {
    max-width: 555px;
    margin: 0 auto;
  }
  /* line 844, ../sass/style.scss */
  .about_advantages .advantages {
    max-width: 555px;
    margin: 31px auto 0;
  }

  /* line 849, ../sass/style.scss */
  .treatment {
    margin-top: 90px;
  }
  /* line 851, ../sass/style.scss */
  .treatment .register_button {
    margin: 9px auto 0;
  }

  /* line 855, ../sass/style.scss */
  .price_list {
    margin-top: 111px;
  }
  /* line 857, ../sass/style.scss */
  .price_list .price {
    margin-top: 62px;
  }
  /* line 860, ../sass/style.scss */
  .price_list .tablet-res {
    margin: 62px auto 112px;
  }

  /* line 865, ../sass/style.scss */
  .slider_bottom .slick-center {
    opacity: 1 !important;
  }

  /* line 869, ../sass/style.scss */
  .register_form {
    margin-top: 85px;
  }

  /* line 872, ../sass/style.scss */
  .address {
    margin-top: 152px;
  }
  /* line 874, ../sass/style.scss */
  .address .map {
    margin-top: 49px;
  }
}
@media only screen and (max-width: 539px) {
  /* line 883, ../sass/style.scss */
  html .register_button {
    max-width: 266px;
    height: 45px;
    margin: 0 auto;
    float: none !important;
  }

  /* line 890, ../sass/style.scss */
  .site-branding img {
    max-width: 215px;
  }

  /* line 893, ../sass/style.scss */
  .menu-toggle {
    margin-top: 10px !important;
  }

  /* line 896, ../sass/style.scss */
  .top_content {
    height: 308px;
    background-position: top;
  }
  /* line 899, ../sass/style.scss */
  .top_content .logo {
    margin-top: 124px;
  }
  /* line 902, ../sass/style.scss */
  .top_content .site-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
  }

  /* line 908, ../sass/style.scss */
  .slider_top {
    margin-top: 0;
    margin-left: -30px;
    margin-right: -30px;
    box-shadow: none;
    border-radius: 0;
  }
  /* line 914, ../sass/style.scss */
  .slider_top .item {
    margin: 0 8px;
    border-radius: 0;
  }

  /* line 921, ../sass/style.scss */
  .about_advantages .about .title {
    text-align: center;
  }
  /* line 924, ../sass/style.scss */
  .about_advantages .about .line {
    margin: 16px auto 0;
  }
  /* line 927, ../sass/style.scss */
  .about_advantages .about .text {
    margin-left: 0;
    margin-top: 37px;
  }
  /* line 933, ../sass/style.scss */
  .about_advantages .advantages .title {
    text-align: center;
  }
  /* line 936, ../sass/style.scss */
  .about_advantages .advantages .line {
    margin: 16px auto 0;
  }
  /* line 939, ../sass/style.scss */
  .about_advantages .advantages .content {
    margin-left: 0;
    margin-top: 37px;
  }
  /* line 942, ../sass/style.scss */
  .about_advantages .advantages .content img {
    margin-left: 0;
  }
  /* line 945, ../sass/style.scss */
  .about_advantages .advantages .content p {
    margin-left: 90px;
  }

  /* line 951, ../sass/style.scss */
  .treatment {
    margin-top: 44px;
  }
  /* line 954, ../sass/style.scss */
  .treatment .items .item {
    width: 250px;
    height: 176px;
    background-color: #fffffd;
    box-shadow: 0 0 8px 2px rgba(155, 155, 155, 0.2);
    padding: 0;
    margin: 6px;
    padding-top: 10px;
  }
  /* line 962, ../sass/style.scss */
  .treatment .items .item img {
    max-width: 54px;
    margin-left: 14px;
  }
  /* line 966, ../sass/style.scss */
  .treatment .items .item .title {
    font-family: OpenSansSemibold;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #3e3e3e;
    text-align: left;
    margin-left: 80px;
    margin-bottom: 15px;
  }
  /* line 976, ../sass/style.scss */
  .treatment .items .item .text {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.38;
    color: #9d9d9d;
    margin-left: 80px;
    margin-bottom: 18px;
  }
  /* line 985, ../sass/style.scss */
  .treatment .items .item .button {
    width: 138px;
    height: 30px;
    border-radius: 2px;
    border: solid 1px #c6afa1;
    padding-left: 12px;
    margin-left: 80px;
  }
  /* line 995, ../sass/style.scss */
  .treatment #slickCounter {
    font-family: OpenSansItalic;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.2px;
    text-align: center;
    color: #9d9d9d;
    margin-top: 27px;
    margin-bottom: 25px;
  }

  /* line 1009, ../sass/style.scss */
  .price_list .priceList .title {
    text-align: center;
  }
  /* line 1012, ../sass/style.scss */
  .price_list .priceList .line {
    margin: 16px auto 0;
  }
  /* line 1015, ../sass/style.scss */
  .price_list .priceList .text {
    margin-left: 0;
    margin-top: 41px;
  }
  /* line 1020, ../sass/style.scss */
  .price_list .price {
    overflow: hidden;
  }
  /* line 1022, ../sass/style.scss */
  .price_list .price .head_price {
    display: none;
  }
  /* line 1025, ../sass/style.scss */
  .price_list .price .head_name {
    font-family: OpenSansBold;
    font-size: 16px;
    font-weight: 700;
    color: #3e3e3e !important;
    margin-bottom: 29px !important;
  }
  /* line 1032, ../sass/style.scss */
  .price_list .price .col_name {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: OpenSansBold;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.38;
    color: #9d9d9d;
    margin-bottom: 14px;
  }
  /* line 1043, ../sass/style.scss */
  .price_list .price .col_price {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
  }
  /* line 1048, ../sass/style.scss */
  .price_list .price .button {
    float: right;
    margin: 0;
    margin-right: 30px;
  }

  /* line 1055, ../sass/style.scss */
  .photo_gallery {
    display: none;
  }

  /* line 1058, ../sass/style.scss */
  .register_form {
    margin-top: -8px;
    padding-bottom: 20px;
    padding-top: 28px;
  }
  /* line 1062, ../sass/style.scss */
  .register_form .left {
    width: auto;
    float: none;
    margin: 0;
  }
  /* line 1066, ../sass/style.scss */
  .register_form .left .title {
    font-family: CormorantBold;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #932724;
    margin: 0;
  }
  /* line 1074, ../sass/style.scss */
  .register_form .left img {
    display: none;
  }
  /* line 1078, ../sass/style.scss */
  .register_form .wrap {
    padding-left: 18px;
    padding-right: 18px;
  }
  /* line 1081, ../sass/style.scss */
  .register_form .wrap input[type="text"] {
    width: 100%;
  }
  /* line 1085, ../sass/style.scss */
  .register_form .wrap select {
    width: 100%;
  }
  /* line 1088, ../sass/style.scss */
  .register_form .wrap input[type="submit"] {
    float: none !important;
    margin: 0 auto !important;
    padding: 0 !important;
    display: block;
  }

  /* line 1098, ../sass/style.scss */
  .address .addressList .title {
    text-align: center;
    margin-bottom: 24px;
  }
  /* line 1102, ../sass/style.scss */
  .address .addressList .line {
    margin: 0 auto 39px;
  }
  /* line 1105, ../sass/style.scss */
  .address .addressList .text {
    margin: 0 auto;
    max-width: 266px;
  }
  /* line 1110, ../sass/style.scss */
  .address .map {
    margin-left: -30px;
    margin-right: -30px;
  }
}
@media only screen and (max-width: 320px) {
  /* line 1118, ../sass/style.scss */
  .top_content {
    height: 355px;
    background: none;
  }
  /* line 1121, ../sass/style.scss */
  .top_content .site-description {
    margin-top: 10px;
  }
}
