/* line 30, ../sass/style.scss */
html {
  overflow-x: hidden;
}
/* line 31, ../sass/style.scss */
html a:active, html a:focus {
  outline: none;
}
/* line 33, ../sass/style.scss */
html input, html textarea {
  outline: none;
}
/* line 34, ../sass/style.scss */
html input:active, html textarea:active {
  outline: none;
}
/* line 35, ../sass/style.scss */
html :focus {
  outline: none;
}
/* line 36, ../sass/style.scss */
html textarea {
  resize: none;
}
/* line 37, ../sass/style.scss */
html textarea {
  resize: vertical;
}
/* line 38, ../sass/style.scss */
html textarea {
  resize: horizontal;
}
/* line 39, ../sass/style.scss */
html button:active, html button:focus {
  outline: none !important;
}
/* line 42, ../sass/style.scss */
html button::-moz-focus-inner {
  border: 0 !important;
}
/* line 48, ../sass/style.scss */
html .register_button {
  width: 460px;
  height: 45px;
  border-radius: 2px;
  background-color: #932724;
}
/* line 54, ../sass/style.scss */
html .register_button a {
  font-family: OpenSansSemibold;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #fafafa;
  display: block;
  line-height: 43px;
  text-decoration: none;
}
/* line 63, ../sass/style.scss */
html .register_button a:hover {
  cursor: url("../images/cursor_arrow.png"), auto;
}
/* line 68, ../sass/style.scss */
html .button {
  width: 138px;
  height: 30px;
  border-radius: 2px;
  border: solid 1px #c6afa1;
  padding-left: 16px;
  margin-left: 93px;
}
/* line 76, ../sass/style.scss */
html .button a {
  font-family: OpenSansItalic;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  color: #c6afa1;
  text-decoration: none;
  line-height: 27px;
  display: block;
  position: relative;
}
/* line 86, ../sass/style.scss */
html .button a span {
  font-family: OpenSans;
  font-style: normal;
  border-left: 1px solid;
  margin-left: 8px;
  padding-left: 12px;
  height: 24px;
  line-height: 25px;
  position: absolute;
  margin-top: 2px;
}
/* line 100, ../sass/style.scss */
html .m_call_wrap {
  display: none;
}
/* line 105, ../sass/style.scss */
html #map {
  height: 420px;
  width: 555px;
}
/* line 109, ../sass/style.scss */
html .gm-style-iw * {
  display: block;
  width: 100%;
}
/* line 113, ../sass/style.scss */
html .gm-style-iw h4, html .gm-style-iw p {
  margin: 0;
  padding: 0;
}
/* line 117, ../sass/style.scss */
html .gm-style-iw a {
  color: #4272db;
}

/* line 122, ../sass/style.scss */
body {
  font-family: OpenSans;
}

@media screen and (max-width: 600px) {
  /* line 126, ../sass/style.scss */
  #wpadminbar {
    position: fixed;
  }
}
/* line 134, ../sass/style.scss */
.site .min_call_wrap {
  display: block;
  position: fixed;
  top: 100px;
  right: 0;
  width: 64px;
  height: 45px;
  border-radius: 2px;
  background-color: #932724;
  z-index: 40;
}
/* line 144, ../sass/style.scss */
.site .min_call_wrap a {
  display: block;
  padding-bottom: 10px;
}
/* line 148, ../sass/style.scss */
.site .min_call_wrap img {
  margin-top: 12px;
  margin-left: 10px;
}
/* line 153, ../sass/style.scss */
.site .max_call_wrap {
  display: none;
  position: fixed;
  top: 100px;
  right: 0;
  max-width: 402px;
  min-width: 320px;
  height: 160px;
  border-radius: 2px;
  background-color: rgba(147, 39, 36, 0.9);
  z-index: 1000000;
}
/* line 164, ../sass/style.scss */
.site .max_call_wrap .close-button-white {
  display: none;
}
/* line 167, ../sass/style.scss */
.site .max_call_wrap .call {
  display: none;
}
/* line 170, ../sass/style.scss */
.site .max_call_wrap .phone {
  margin-top: 30px;
  margin-left: 25px;
}
/* line 173, ../sass/style.scss */
.site .max_call_wrap .phone a {
  text-decoration: none;
}
/* line 175, ../sass/style.scss */
.site .max_call_wrap .phone a img {
  float: left;
  margin-top: 5px;
}
/* line 179, ../sass/style.scss */
.site .max_call_wrap .phone a p {
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  color: #ffffff;
  padding-left: 34px;
}
/* line 189, ../sass/style.scss */
.site .max_call_wrap .time {
  margin-top: 19px;
  margin-left: 25px;
}
/* line 192, ../sass/style.scss */
.site .max_call_wrap .time img {
  float: left;
  margin-top: 5px;
  padding-bottom: 30px;
}
/* line 197, ../sass/style.scss */
.site .max_call_wrap .time p {
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  color: #ffffff;
  padding-left: 34px;
}

/* line 209, ../sass/style.scss */
.hamburger_menu {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -15px;
  width: 105%;
  height: 640px;
  opacity: 0.9;
  background-color: #ffffff;
  z-index: 20;
}
/* line 222, ../sass/style.scss */
.hamburger_menu div.close_button {
  position: absolute;
  top: 11px;
  left: 30px;
  z-index: 30;
}
/* line 228, ../sass/style.scss */
.hamburger_menu ul {
  position: absolute;
  top: 60px;
  left: 30px;
  list-style-type: none;
  margin-top: 23px;
  padding: 0;
  overflow: hidden;
  z-index: 30;
}
/* line 238, ../sass/style.scss */
.hamburger_menu li {
  margin-bottom: 52px;
}
/* line 240, ../sass/style.scss */
.hamburger_menu li a {
  font-family: CormorantBold;
  font-size: 24px;
  font-weight: 700;
  color: #932724;
  z-index: 30;
  text-decoration: none;
}
/* line 249, ../sass/style.scss */
.hamburger_menu .line-top {
  position: absolute;
  top: 135px;
  left: 25px;
  width: 92.5%;
  z-index: 30;
  border-bottom: 3px solid #932724;
}
/* line 257, ../sass/style.scss */
.hamburger_menu .line-bottom {
  position: absolute;
  top: 579px;
  left: 25px;
  width: 92.5%;
  z-index: 30;
  border-bottom: 3px solid #932724;
}

/* line 273, ../sass/style.scss */
.header .white_line {
  height: 68px;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba(155, 154, 155, 0.28);
  position: fixed;
  z-index: 300;
  width: 100%;
}
/* line 283, ../sass/style.scss */
.header .site-branding {
  float: left;
  margin-top: 13px;
}
/* line 287, ../sass/style.scss */
.header .menu-toggle {
  display: none;
  float: right;
  margin-top: 8px;
  border: 0;
  background-color: #fff;
}
/* line 296, ../sass/style.scss */
.header header nav {
  float: right;
}
/* line 298, ../sass/style.scss */
.header header nav ul {
  list-style-type: none;
  margin-top: 16px;
  padding: 0;
}
/* line 303, ../sass/style.scss */
.header header nav li {
  float: left;
}
/* line 305, ../sass/style.scss */
.header header nav li.active {
  border-bottom: 2px solid #932724;
}
/* line 308, ../sass/style.scss */
.header header nav li:hover {
  border-bottom: 2px solid #932724;
}
/* line 311, ../sass/style.scss */
.header header nav li a {
  display: block;
  font-family: CormorantBold;
  font-size: 19px;
  font-weight: 700;
  color: #932724;
  margin: 0 25px;
  text-decoration: none;
  padding-bottom: 19px;
  /*          &.active {
              border-bottom: 2px solid #932724;
            }*/
}

/* line 330, ../sass/style.scss */
.top_content {
  position: relative;
  background: url(../images/city_house.jpg) no-repeat center;
  background-size: cover;
  width: 80vw;
  margin: 0 auto;
  background-attachment: fixed;
}
/* line 337, ../sass/style.scss */
.top_content .grad_left {
  height: 100%;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #fdfaf6);
}
/* line 343, ../sass/style.scss */
.top_content .grad_right {
  height: 100%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #fdfaf6);
}
/* line 348, ../sass/style.scss */
.top_content .logo {
  margin-top: 277px;
  text-align: center;
}
/* line 352, ../sass/style.scss */
.top_content .site-description {
  font-family: OpenSans;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.38;
  color: #932724;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 227px;
}

/* line 365, ../sass/style.scss */
.slider_top {
  position: relative;
  max-width: 945px;
  max-height: 379px;
  margin: -199px auto 0;
  box-shadow: 0 0 30px 10px rgba(155, 155, 155, 0.5);
  border-radius: 5px;
  overflow: hidden;
}
/* line 374, ../sass/style.scss */
.slider_top .item img {
  width: 100%;
}
/* line 378, ../sass/style.scss */
.slider_top img {
  border-radius: 5px;
}
/* line 381, ../sass/style.scss */
.slider_top .slick-prev {
  position: absolute;
  right: 31px;
  bottom: -1px;
  z-index: 10;
}
/* line 387, ../sass/style.scss */
.slider_top .slick-next {
  position: absolute;
  right: 0;
  bottom: -1px;
}

/* line 394, ../sass/style.scss */
.about_advantages {
  margin-top: 130px;
}
/* line 396, ../sass/style.scss */
.about_advantages .title {
  font-family: CormorantSemiBold;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #3e3e3e;
}
/* line 403, ../sass/style.scss */
.about_advantages .line {
  width: 66px;
  height: 2px;
  border-bottom: solid 2px #932724;
  margin-top: 16px;
}
/* line 409, ../sass/style.scss */
.about_advantages .about {
  overflow: hidden;
}
/* line 411, ../sass/style.scss */
.about_advantages .about .text {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  color: #9d9d9d;
  margin-left: 94px;
  margin-top: -9px;
}
/* line 420, ../sass/style.scss */
.about_advantages .about .register_button {
  margin-top: 42px;
  float: right;
}
/* line 427, ../sass/style.scss */
.about_advantages .advantages .img img {
  width: 67px;
  height: 67px;
  margin-left: 94px;
  margin-bottom: 65px;
}
/* line 434, ../sass/style.scss */
.about_advantages .advantages .words {
  font-family: OpenSansSemibold;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.78;
  color: #3e3e3e;
  margin-left: 187px;
  margin-top: -116px;
  margin-bottom: 71px;
}
/* line 443, ../sass/style.scss */
.about_advantages .advantages .words:last-child {
  margin-top: -130px;
}

/* line 450, ../sass/style.scss */
.treatment {
  margin-top: 52px;
}
/* line 452, ../sass/style.scss */
.treatment .title {
  font-family: CormorantSemiBold;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #3e3e3e;
  text-align: center;
}
/* line 461, ../sass/style.scss */
.treatment .line {
  width: 66px;
  height: 2px;
  border-bottom: 2px solid  #932724;
  margin: 0 auto;
  margin-top: 14px;
}
/* line 468, ../sass/style.scss */
.treatment .text {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: #9d9d9d;
  margin-top: 25px;
  text-align: left;
}
/* line 478, ../sass/style.scss */
.treatment .items {
  margin-top: 38px;
}
/* line 480, ../sass/style.scss */
.treatment .items .item {
  margin: 0 auto;
  max-width: 360px;
  overflow: hidden;
  padding-top: 48px;
  height: 235px;
}
/* line 486, ../sass/style.scss */
.treatment .items .item img {
  float: left;
}
/* line 489, ../sass/style.scss */
.treatment .items .item .title {
  font-family: OpenSansSemibold;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.78;
  color: #3e3e3e;
  text-align: left;
  margin: 0;
  margin-left: 93px;
  margin-bottom: 15px;
}
/* line 500, ../sass/style.scss */
.treatment .items .item .text {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  color: #9d9d9d;
  margin-left: 93px;
  margin-bottom: 18px;
}
/* line 511, ../sass/style.scss */
.treatment .register_button {
  margin: 31px auto 0;
}

/* line 516, ../sass/style.scss */
.price_list {
  margin-top: 130px;
}
/* line 518, ../sass/style.scss */
.price_list .title {
  font-family: CormorantSemiBold;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #3e3e3e;
  text-align: left;
  margin-top: 0;
}
/* line 527, ../sass/style.scss */
.price_list .line {
  width: 66px;
  height: 2px;
  border-bottom: solid 2px #932724;
  margin-top: 16px;
  margin-left: 0;
}
/* line 534, ../sass/style.scss */
.price_list .priceList {
  overflow: hidden;
  max-width: 555px;
  margin: 0 auto;
}
/* line 538, ../sass/style.scss */
.price_list .priceList .text {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  color: #9d9d9d;
  margin-left: 94px;
  margin-top: -9px;
}
/* line 548, ../sass/style.scss */
.price_list .priceList .register_button {
  margin-top: 42px;
  float: right;
  display: block;
}
/* line 554, ../sass/style.scss */
.price_list .tablet-res {
  display: none;
}
/* line 557, ../sass/style.scss */
.price_list .price {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 0 30px 10px rgba(155, 155, 155, 0.1);
  color: #9d9d9d;
  max-width: 555px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0 auto;
}
/* line 571, ../sass/style.scss */
.price_list .price .col_name {
  margin-bottom: 29px;
  padding-left: 19px;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 15px;
}
/* line 576, ../sass/style.scss */
.price_list .price .col_name span {
  color: #3e3e3e;
}
/* line 580, ../sass/style.scss */
.price_list .price .col_price {
  margin-left: 312px;
  margin-top: -69px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  display: block;
}
/* line 586, ../sass/style.scss */
.price_list .price .col_price span {
  color: #3e3e3e;
}
/* line 589, ../sass/style.scss */
.price_list .price .col_price span span.stick {
  margin-left: -27px;
  padding-right: 10px;
}
/* line 595, ../sass/style.scss */
.price_list .price .button {
  margin-left: 314px;
}

/* line 601, ../sass/style.scss */
.photo_gallery {
  margin-top: 117px;
}
/* line 603, ../sass/style.scss */
.photo_gallery .title {
  font-family: CormorantSemiBold;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #3e3e3e;
  text-align: center;
}
/* line 612, ../sass/style.scss */
.photo_gallery .line {
  width: 66px;
  height: 2px;
  border-bottom: 2px solid  #932724;
  margin: 0 auto;
  margin-top: 14px;
}
/* line 619, ../sass/style.scss */
.photo_gallery .text {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
  text-align: center;
  color: #9d9d9d;
  margin-top: 24px;
  margin-bottom: 20px;
}
/* line 629, ../sass/style.scss */
.photo_gallery .slider_bottom {
  margin-top: 66px;
  border-radius: 2px;
  position: relative;
  margin: 0 -15px;
}
/* line 634, ../sass/style.scss */
.photo_gallery .slider_bottom .item {
  opacity: 0.46;
  background-color: #eed2be;
  margin: 0 15px;
}
/* line 638, ../sass/style.scss */
.photo_gallery .slider_bottom .item img {
  width: 100%;
}
/* line 641, ../sass/style.scss */
.photo_gallery .slider_bottom .item:hover {
  opacity: 1;
  cursor: url("../images/cursor_arrow.png"), auto;
}
/* line 646, ../sass/style.scss */
.photo_gallery .slider_bottom img {
  border-radius: 2px;
}
/* line 649, ../sass/style.scss */
.photo_gallery .slider_bottom .slick-prev {
  position: absolute;
  right: 44px;
  bottom: 0;
  z-index: 10;
}
/* line 655, ../sass/style.scss */
.photo_gallery .slider_bottom .slick-next {
  position: absolute;
  right: 13px;
  bottom: 0;
}

/* line 663, ../sass/style.scss */
.register_form {
  position: relative;
  max-width: 750px;
  margin: 91px auto 0;
  border-radius: 2px;
  background-color: #fffffd;
  box-shadow: 0 0 30px 10px rgba(155, 155, 155, 0.1);
  border: solid 1px #932724;
  overflow: hidden;
}
/* line 672, ../sass/style.scss */
.register_form .wpcf7-form-control-wrap {
  position: static;
}
/* line 675, ../sass/style.scss */
.register_form .left {
  width: 341px;
  float: left;
  margin-right: 48px;
}
/* line 679, ../sass/style.scss */
.register_form .left .title {
  font-family: CormorantBold;
  font-size: 30px;
  font-weight: 700;
  color: #932724;
  margin-left: 27px;
  margin-top: 35px;
  z-index: 2;
}
/* line 688, ../sass/style.scss */
.register_form .left img {
  float: left;
  width: 286px;
  z-index: 1;
  margin-top: -70px;
}
/* line 695, ../sass/style.scss */
.register_form .wrap {
  margin-top: 32px;
  height: 37px;
  display: block;
  margin-bottom: 5px;
}
/* line 700, ../sass/style.scss */
.register_form .wrap label {
  display: block;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  color: #9d9d9d;
}
/* line 708, ../sass/style.scss */
.register_form .wrap label span.star {
  font-size: 10px;
  line-height: 1.7;
  color: #932724;
}
/* line 714, ../sass/style.scss */
.register_form .wrap input[type="text"] {
  border: 0;
  border-bottom: 1px solid #f2f2f2;
  width: 327px;
  background-color: transparent;
  font-size: 14px;
  padding-bottom: 10px;
}
/* line 722, ../sass/style.scss */
.register_form .wrap input[type="submit"] {
  width: 127px;
  height: 45px;
  border: 0;
  border-radius: 2px;
  background-color: #932724;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #fafafa;
  float: right;
  margin-right: 28px;
}
/* line 736, ../sass/style.scss */
.register_form .wrap select {
  width: 320px;
  background-color: #fff;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  color: #9d9d9d;
  border: 0;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 10px;
}

/* line 751, ../sass/style.scss */
.address {
  margin-top: 130px;
}
/* line 753, ../sass/style.scss */
.address .map {
  max-height: 420px;
  max-width: 555px;
}
/* line 756, ../sass/style.scss */
.address .map #map {
  width: 100%;
}
/* line 759, ../sass/style.scss */
.address .map .gm-style-iw * {
  display: block;
  width: 100%;
}
/* line 763, ../sass/style.scss */
.address .map .gm-style-iw h4, .address .map .gm-style-iw p {
  margin: 0;
  padding: 0;
}
/* line 767, ../sass/style.scss */
.address .map .gm-style-iw a {
  color: #4272db;
}
/* line 772, ../sass/style.scss */
.address .title {
  font-family: CormorantSemiBold;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #3e3e3e;
}
/* line 779, ../sass/style.scss */
.address .line {
  width: 66px;
  height: 2px;
  border-bottom: solid 2px #932724;
  margin-top: 16px;
}
/* line 785, ../sass/style.scss */
.address .addressList {
  max-width: 555px;
  margin: 0 auto;
}
/* line 788, ../sass/style.scss */
.address .addressList .text {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  color: #9d9d9d;
  margin-left: 94px;
  margin-top: -9px;
}
/* line 797, ../sass/style.scss */
.address .addressList .register_button {
  margin-top: 42px;
  float: right;
}
/* line 802, ../sass/style.scss */
.address .addressList .text p {
  margin-bottom: 35px;
}
/* line 804, ../sass/style.scss */
.address .addressList .text p:last-child {
  margin-bottom: 15px;
}
/* line 809, ../sass/style.scss */
.address .addressList img {
  margin-right: 18px;
}
/* line 813, ../sass/style.scss */
.address .map {
  max-width: 555px;
  margin: 0 auto;
}

/* line 818, ../sass/style.scss */
footer {
  height: 75px;
  background-color: #3e3e3e;
  padding-left: 0;
  padding-right: 0;
  margin-left: -30px;
  margin-right: -30px;
}
/* line 825, ../sass/style.scss */
footer .name_site {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  color: #ffffff;
  text-align: center;
  padding-top: 12px;
}
/* line 834, ../sass/style.scss */
footer .copy {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  color: #ffffff;
  text-align: center;
  margin-top: 8px;
}

@media only screen and (max-width: 1170px) {
  /* line 849, ../sass/style.scss */
  .header .white_line {
    height: 46px !important;
  }
  /* line 852, ../sass/style.scss */
  .header .site-branding {
    margin-top: 1px;
  }
  /* line 855, ../sass/style.scss */
  .header .menu-toggle {
    display: block !important;
  }
  /* line 858, ../sass/style.scss */
  .header nav ul {
    display: none !important;
  }
}
@media only screen and (max-width: 991px) {
  /* line 868, ../sass/style.scss */
  .photo_gallery {
    margin-bottom: 60px;
  }

  /* line 871, ../sass/style.scss */
  .desc-res {
    display: none !important;
  }

  /* line 874, ../sass/style.scss */
  .tablet-res {
    display: block !important;
  }
}
@media only screen and (max-width: 768px) {
  /* line 881, ../sass/style.scss */
  .top_content .logo {
    margin-top: 162px;
  }
  /* line 884, ../sass/style.scss */
  .top_content .site-description {
    font-weight: 400;
    color: #932724;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 227px;
    font-size: 36px;
    line-height: 1.53;
  }

  /* line 895, ../sass/style.scss */
  .slider_top {
    margin: -135px auto 0;
  }

  /* line 898, ../sass/style.scss */
  .about_advantages {
    margin-top: 74px;
  }
  /* line 901, ../sass/style.scss */
  .about_advantages .about {
    max-width: 555px;
    margin: 0 auto;
  }
  /* line 905, ../sass/style.scss */
  .about_advantages .advantages {
    max-width: 555px;
    margin: 31px auto 0;
  }

  /* line 910, ../sass/style.scss */
  .treatment {
    margin-top: 90px;
  }
  /* line 912, ../sass/style.scss */
  .treatment .register_button {
    margin: 9px auto 0;
  }

  /* line 916, ../sass/style.scss */
  .price_list {
    margin-top: 111px;
  }
  /* line 918, ../sass/style.scss */
  .price_list .price {
    margin-top: 62px;
    margin-bottom: 71px;
  }
  /* line 922, ../sass/style.scss */
  .price_list .tablet-res {
    margin: 62px auto 112px;
  }

  /* line 927, ../sass/style.scss */
  .slider_bottom .slick-center {
    opacity: 1 !important;
  }

  /* line 931, ../sass/style.scss */
  .register_form {
    margin-top: 85px;
  }

  /* line 934, ../sass/style.scss */
  .address {
    margin-top: 152px;
  }
  /* line 936, ../sass/style.scss */
  .address .map {
    margin-top: 49px;
  }

  /* line 940, ../sass/style.scss */
  .register_form {
    margin-top: -8px;
    padding-bottom: 20px;
    padding-top: 28px;
  }
  /* line 944, ../sass/style.scss */
  .register_form .left {
    width: auto;
    float: none;
    margin: 0;
  }
  /* line 948, ../sass/style.scss */
  .register_form .left .title {
    font-family: CormorantBold;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #932724;
    margin: 0;
  }
  /* line 956, ../sass/style.scss */
  .register_form .left img {
    display: none;
  }
  /* line 960, ../sass/style.scss */
  .register_form .wrap {
    padding-left: 18px;
    padding-right: 18px;
  }
  /* line 963, ../sass/style.scss */
  .register_form .wrap input[type="text"] {
    width: 100%;
  }
  /* line 967, ../sass/style.scss */
  .register_form .wrap select {
    width: 100%;
  }
  /* line 970, ../sass/style.scss */
  .register_form .wrap input[type="submit"] {
    float: none !important;
    margin: 0 auto !important;
    padding: 0 !important;
    display: block;
  }
}
@media only screen and (max-width: 539px) {
  /* line 982, ../sass/style.scss */
  html .register_button {
    max-width: 266px;
    height: 45px;
    margin: 0 auto;
    float: none;
  }

  /* line 989, ../sass/style.scss */
  .site-branding img {
    max-width: 215px;
  }

  /* line 992, ../sass/style.scss */
  .menu-toggle {
    margin-top: 10px !important;
  }

  /* line 995, ../sass/style.scss */
  .top_content {
    height: 308px;
    background-position: top;
  }
  /* line 998, ../sass/style.scss */
  .top_content .logo {
    margin-top: 124px;
  }
  /* line 1001, ../sass/style.scss */
  .top_content .site-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
  }

  /* line 1007, ../sass/style.scss */
  .slider_top {
    margin-top: 0;
    margin-left: -30px;
    margin-right: -30px;
    box-shadow: none;
    border-radius: 0;
  }
  /* line 1013, ../sass/style.scss */
  .slider_top .item {
    margin: 0 8px;
    border-radius: 0;
  }

  /* line 1020, ../sass/style.scss */
  .about_advantages .about .title {
    text-align: center;
  }
  /* line 1023, ../sass/style.scss */
  .about_advantages .about .line {
    margin: 16px auto 0;
  }
  /* line 1026, ../sass/style.scss */
  .about_advantages .about .text {
    margin-left: 0;
    margin-top: 37px;
  }
  /* line 1032, ../sass/style.scss */
  .about_advantages .advantages .title {
    text-align: center;
  }
  /* line 1035, ../sass/style.scss */
  .about_advantages .advantages .line {
    margin: 16px auto 0;
  }
  /* line 1038, ../sass/style.scss */
  .about_advantages .advantages .text {
    margin-left: 0;
    margin-top: 37px;
  }
  /* line 1042, ../sass/style.scss */
  .about_advantages .advantages .text .img img {
    margin-left: 0;
    width: 67px;
    height: 67px;
  }
  /* line 1048, ../sass/style.scss */
  .about_advantages .advantages .text .words {
    margin-left: 90px;
  }

  /* line 1054, ../sass/style.scss */
  .treatment {
    margin-top: 44px;
  }
  /* line 1057, ../sass/style.scss */
  .treatment .items .item {
    width: 250px;
    height: 176px;
    background-color: #fffffd;
    box-shadow: 0 0 8px 2px rgba(155, 155, 155, 0.2);
    padding: 0;
    margin: 6px;
    padding-top: 10px;
  }
  /* line 1065, ../sass/style.scss */
  .treatment .items .item img {
    max-width: 54px;
    margin-left: 14px;
  }
  /* line 1069, ../sass/style.scss */
  .treatment .items .item .title {
    font-family: OpenSansSemibold;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #3e3e3e;
    text-align: left;
    margin-left: 80px;
    margin-bottom: 15px;
  }
  /* line 1079, ../sass/style.scss */
  .treatment .items .item .text {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.38;
    color: #9d9d9d;
    margin-left: 80px;
    margin-bottom: 18px;
  }
  /* line 1088, ../sass/style.scss */
  .treatment .items .item .button {
    width: 138px;
    height: 30px;
    border-radius: 2px;
    border: solid 1px #c6afa1;
    padding-left: 12px;
    margin-left: 80px;
  }
  /* line 1098, ../sass/style.scss */
  .treatment #slickCounter {
    font-family: OpenSansItalic;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.2px;
    text-align: center;
    color: #9d9d9d;
    margin-top: 27px;
    margin-bottom: 25px;
  }

  /* line 1112, ../sass/style.scss */
  .price_list .priceList .title {
    text-align: center;
  }
  /* line 1115, ../sass/style.scss */
  .price_list .priceList .line {
    margin: 16px auto 0;
  }
  /* line 1118, ../sass/style.scss */
  .price_list .priceList .text {
    margin-left: 0;
    margin-top: 41px;
  }
  /* line 1123, ../sass/style.scss */
  .price_list .price {
    overflow: hidden;
  }
  /* line 1125, ../sass/style.scss */
  .price_list .price .head_price {
    display: none;
  }
  /* line 1128, ../sass/style.scss */
  .price_list .price .head_name {
    font-family: OpenSansBold;
    font-size: 16px;
    font-weight: 700;
    color: #3e3e3e !important;
    margin-bottom: 29px !important;
  }
  /* line 1135, ../sass/style.scss */
  .price_list .price .col_name {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: OpenSansBold;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.38;
    color: #9d9d9d;
    margin-bottom: 14px;
  }
  /* line 1146, ../sass/style.scss */
  .price_list .price .col_price {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
  }
  /* line 1151, ../sass/style.scss */
  .price_list .price .button {
    float: right;
    margin: 0;
    margin-right: 30px;
  }

  /* line 1158, ../sass/style.scss */
  .photo_gallery {
    display: none;
  }

  /* line 1163, ../sass/style.scss */
  .address .addressList .title {
    text-align: center;
    margin-bottom: 24px;
  }
  /* line 1167, ../sass/style.scss */
  .address .addressList .line {
    margin: 0 auto 39px;
  }
  /* line 1170, ../sass/style.scss */
  .address .addressList .text {
    margin: 0 auto;
    max-width: 266px;
  }
  /* line 1175, ../sass/style.scss */
  .address .map {
    margin-left: -30px;
    margin-right: -30px;
  }
}
@media only screen and (max-width: 320px) {
  /* line 1183, ../sass/style.scss */
  .top_content {
    height: 355px;
    background: none;
  }
  /* line 1186, ../sass/style.scss */
  .top_content .site-description {
    margin-top: 10px;
  }
}
/* line 1193, ../sass/style.scss */
.white_line {
  height: 68px;
  background-color: #fffffd;
  box-shadow: 0 2px 10px 0 rgba(155, 154, 155, 0.28);
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 4px;
}

/* line 1202, ../sass/style.scss */
header.service .go-main a {
  font-size: 18px;
  font-weight: 600;
  line-height: 2.78;
  color: #3e3e3e;
  text-decoration: none;
  line-height: 3.5;
}
/* line 1210, ../sass/style.scss */
header.service .call_wrap {
  float: right;
}
/* line 1212, ../sass/style.scss */
header.service .call_wrap .phone {
  line-height: 14px;
}
/* line 1214, ../sass/style.scss */
header.service .call_wrap .phone img {
  float: left;
  margin-top: 5px;
}
/* line 1218, ../sass/style.scss */
header.service .call_wrap .phone p {
  margin: 0;
  margin-left: 34px;
  width: 231px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  color: #932724;
}
/* line 1228, ../sass/style.scss */
header.service .call_wrap .time {
  float: left;
  padding-bottom: 20px;
}
/* line 1229, ../sass/style.scss */
header.service .call_wrap .time img {
  float: left;
  margin-top: 5px;
}
/* line 1235, ../sass/style.scss */
header.service .call_wrap .time p {
  margin: 0;
  margin-left: 34px;
  width: 306px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  color: #932724;
}

/* line 1250, ../sass/style.scss */
.prices .price_list {
  margin-top: 22px;
}
/* line 1252, ../sass/style.scss */
.prices .price_list .register_button {
  float: right;
  margin-top: -66px;
}
/* line 1256, ../sass/style.scss */
.prices .price_list .price {
  min-width: 748px;
}
/* line 1258, ../sass/style.scss */
.prices .price_list .price .col_price {
  margin-left: 472px;
}
/* line 1264, ../sass/style.scss */
.prices .price_list .price div:last-child {
  margin-bottom: 0;
}
/* line 1270, ../sass/style.scss */
.prices .register_form {
  border: 0;
  margin-bottom: 95px;
}

@media only screen and (max-width: 768px) {
  /* line 1278, ../sass/style.scss */
  .prices .price_list {
    margin-top: 22px;
  }
  /* line 1280, ../sass/style.scss */
  .prices .price_list .register_button {
    float: right;
    margin-top: -66px;
  }
  /* line 1284, ../sass/style.scss */
  .prices .price_list .price {
    min-width: 640px;
  }
  /* line 1286, ../sass/style.scss */
  .prices .price_list .price .col_price {
    margin-left: 389px;
  }
  /* line 1292, ../sass/style.scss */
  .prices .price_list .price div:last-child {
    margin-bottom: 0;
  }
  /* line 1298, ../sass/style.scss */
  .prices .register_form {
    border: 0;
    margin-bottom: 95px;
  }
}
@media screen and (max-width: 712px) {
  /* line 1307, ../sass/style.scss */
  .prices .price_list .title {
    text-align: center;
    margin-top: 103px;
  }

  /* line 1311, ../sass/style.scss */
  .prices .price_list .line {
    padding-top: 24px;
    margin: 0 auto 38px;
  }

  /* line 1315, ../sass/style.scss */
  .prices .price_list .register_button {
    float: none;
    margin: -187px auto 151px;
  }
}
@media only screen and (max-width: 539px) {
  /* line 1324, ../sass/style.scss */
  .prices .price_list .price {
    box-shadow: none;
  }
  /* line 1326, ../sass/style.scss */
  .prices .price_list .price .col_price {
    margin: 0;
    margin-left: 28px;
    padding-bottom: 20px;
  }
  /* line 1331, ../sass/style.scss */
  .prices .price_list .price .col_name {
    margin-left: 28px;
    margin-bottom: 10px;
  }
}
/* line 1347, ../sass/style.scss */
.second {
  position: relative;
}
/* line 1350, ../sass/style.scss */
.second .cross {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
/* line 1355, ../sass/style.scss */
.second .cross img {
  width: 31px;
  margin: 18px;
}
/* line 1360, ../sass/style.scss */
.second .tablet-menu-wrap {
  display: none;
}
/* line 1362, ../sass/style.scss */
.second .tablet-menu-wrap .tablet-menu {
  padding-top: 120px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
/* line 1369, ../sass/style.scss */
.second .tablet-menu-wrap .tablet-menu a {
  text-decoration: none;
}
/* line 1372, ../sass/style.scss */
.second .tablet-menu-wrap .tablet-menu .item {
  text-align: center;
  height: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 1377, ../sass/style.scss */
.second .tablet-menu-wrap .tablet-menu .item .title {
  font-family: OpenSansSemibold;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.78;
  color: #3e3e3e;
}
/* line 1388, ../sass/style.scss */
.second .mobil-menu-wrap {
  display: none;
}
/* line 1390, ../sass/style.scss */
.second .mobil-menu-wrap .mobil-menu {
  padding-top: 120px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
}
/* line 1399, ../sass/style.scss */
.second .mobil-menu-wrap .mobil-menu ul {
  list-style-type: none;
  padding-left: 25px;
}
/* line 1403, ../sass/style.scss */
.second .mobil-menu-wrap .mobil-menu ul li.current-menu-item a {
  color: #932724;
}
/* line 1406, ../sass/style.scss */
.second .mobil-menu-wrap .mobil-menu ul li.current-menu-item {
  border-bottom: 1px solid #932724;
  width: 92%;
}
/* line 1410, ../sass/style.scss */
.second .mobil-menu-wrap .mobil-menu ul li a {
  text-decoration: none;
  font-family: OpenSansSemibold;
  font-size: 16px;
  font-weight: 600;
  line-height: 4;
  color: #3e3e3e;
}

/* line 1425, ../sass/style.scss */
.service .menu {
  margin-top: 34px;
}
/* line 1427, ../sass/style.scss */
.service .menu .button-menu {
  display: none;
  margin-top: 3px;
}
/* line 1431, ../sass/style.scss */
.service .menu ul {
  list-style-type: none;
  padding-left: 0;
}
/* line 1434, ../sass/style.scss */
.service .menu ul li {
  border-bottom: 1px solid #f2f2f2;
  width: 191.3px;
}
/* line 1437, ../sass/style.scss */
.service .menu ul li.current-menu-item a {
  color: #932724;
}
/* line 1440, ../sass/style.scss */
.service .menu ul li:last-child {
  border: 0;
}
/* line 1443, ../sass/style.scss */
.service .menu ul li a {
  font-family: OpenSansSemibold;
  font-size: 16px;
  font-weight: 600;
  line-height: 3.13;
  color: #3e3e3e;
  text-decoration: none;
}
/* line 1455, ../sass/style.scss */
.service .head {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* line 1460, ../sass/style.scss */
.service .pic img {
  width: 125px;
}
/* line 1464, ../sass/style.scss */
.service .title {
  font-family: OpenSansSemibold;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.1;
  color: #3e3e3e;
}
/* line 1471, ../sass/style.scss */
.service .register_button {
  float: right;
  margin-right: -53px;
  margin-top: -5px;
}
/* line 1476, ../sass/style.scss */
.service .text {
  padding: 15px;
}
/* line 1478, ../sass/style.scss */
.service .text strong {
  font-family: OpenSansSemibold;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.78;
  color: #3e3e3e;
  margin-top: 40px;
}
/* line 1486, ../sass/style.scss */
.service .text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  color: #9d9d9d;
}
/* line 1493, ../sass/style.scss */
.service .register_form {
  border: 0;
  margin-bottom: 95px;
}

@media only screen and (max-width: 991px) {
  /* line 1501, ../sass/style.scss */
  .service .title {
    margin-top: 88px;
  }
  /* line 1504, ../sass/style.scss */
  .service .pic {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  /* line 1512, ../sass/style.scss */
  .white_line {
    height: 46px;
  }

  /* line 1517, ../sass/style.scss */
  header.service .go-main a {
    line-height: 2;
  }
  /* line 1519, ../sass/style.scss */
  header.service .go-main a img {
    margin-top: -5px;
  }
  /* line 1524, ../sass/style.scss */
  header.service .call_wrap {
    display: none;
  }
  /* line 1527, ../sass/style.scss */
  header.service .m_call_wrap {
    display: block;
    width: 64px;
    height: 45px;
    border-radius: 2px;
    background-color: #932724;
    z-index: 40;
    float: right;
    margin-top: -4px;
    margin-right: -15px;
  }
  /* line 1537, ../sass/style.scss */
  header.service .m_call_wrap a {
    display: block;
    padding-bottom: 10px;
  }
  /* line 1541, ../sass/style.scss */
  header.service .m_call_wrap img {
    margin-top: 12px;
    margin-left: 10px;
  }

  /* line 1548, ../sass/style.scss */
  .service .pic {
    display: none;
  }
  /* line 1551, ../sass/style.scss */
  .service .title {
    margin-top: 90px;
    margin-left: -136px;
  }
  /* line 1555, ../sass/style.scss */
  .service .text {
    margin-left: -43px;
  }
  /* line 1558, ../sass/style.scss */
  .service .register_button {
    float: none;
    margin-right: 0;
    margin-left: -125px;
  }
  /* line 1563, ../sass/style.scss */
  .service .head {
    margin-top: 40px;
    margin-bottom: 0;
  }
  /* line 1569, ../sass/style.scss */
  .service .menu ul {
    display: none;
  }
  /* line 1572, ../sass/style.scss */
  .service .menu .button-menu {
    display: block;
  }
}
@media only screen and (max-width: 539px) {
  /* line 1582, ../sass/style.scss */
  .service .title {
    display: none;
  }
  /* line 1585, ../sass/style.scss */
  .service .register_button {
    margin-left: -64px;
    margin-top: -7px;
  }
}
@media only screen and (max-width: 320px) {
  /* line 1594, ../sass/style.scss */
  .service .register_button {
    width: 237px;
  }

  /* line 1598, ../sass/style.scss */
  .site .max_call_wrap {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 640px;
    border-radius: 2px;
    background-color: rgba(147, 39, 36, 0.9);
    z-index: 1000000;
  }
  /* line 1607, ../sass/style.scss */
  .site .max_call_wrap .close-button-white {
    display: block;
    position: relative;
    top: 17px;
    left: 36px;
  }
  /* line 1612, ../sass/style.scss */
  .site .max_call_wrap .close-button-white img {
    width: 21px;
  }
  /* line 1616, ../sass/style.scss */
  .site .max_call_wrap .phone {
    position: absolute;
    top: 388px;
    left: 30px;
    margin-left: 19px;
  }
  /* line 1622, ../sass/style.scss */
  .site .max_call_wrap .phone a img {
    width: 30px;
  }
  /* line 1625, ../sass/style.scss */
  .site .max_call_wrap .phone a p {
    font-size: 24px;
  }
  /* line 1630, ../sass/style.scss */
  .site .max_call_wrap .time {
    position: absolute;
    top: 200px;
    left: 30px;
    width: 172px;
  }
  /* line 1635, ../sass/style.scss */
  .site .max_call_wrap .time img {
    width: 30px;
  }
  /* line 1638, ../sass/style.scss */
  .site .max_call_wrap .time p {
    font-size: 24px;
  }
  /* line 1642, ../sass/style.scss */
  .site .max_call_wrap .call {
    display: block;
    position: absolute;
    left: 38px;
    bottom: 69px;
    background-color: #fff;
    height: 46px;
    width: 267px;
  }
  /* line 1651, ../sass/style.scss */
  .site .max_call_wrap .call a {
    color: #932724;
    text-decoration: none;
    font-family: OpenSansSemibold;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    display: block;
    line-height: 44px;
  }
}
