/* line 25, ../sass/style.scss */
html {
  overflow-x: hidden;
}
/* line 26, ../sass/style.scss */
html a:active, html a:focus {
  outline: none;
}
/* line 28, ../sass/style.scss */
html input, html textarea {
  outline: none;
}
/* line 29, ../sass/style.scss */
html input:active, html textarea:active {
  outline: none;
}
/* line 30, ../sass/style.scss */
html :focus {
  outline: none;
}
/* line 31, ../sass/style.scss */
html textarea {
  resize: none;
}
/* line 32, ../sass/style.scss */
html textarea {
  resize: vertical;
}
/* line 33, ../sass/style.scss */
html textarea {
  resize: horizontal;
}
/* line 34, ../sass/style.scss */
html button:active, html button:focus {
  outline: none !important;
}
/* line 37, ../sass/style.scss */
html button::-moz-focus-inner {
  border: 0 !important;
}
/* line 43, ../sass/style.scss */
html .register_button {
  width: 460px;
  height: 45px;
  border-radius: 2px;
  background-color: #932724;
}
/* line 49, ../sass/style.scss */
html .register_button a {
  font-family: OpenSansSemibold;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #fafafa;
  display: block;
  line-height: 43px;
  text-decoration: none;
}
/* line 58, ../sass/style.scss */
html .register_button a:hover {
  cursor: url("../images/cursor_arrow.png"), auto;
}
/* line 63, ../sass/style.scss */
html .button {
  width: 138px;
  height: 30px;
  border-radius: 2px;
  border: solid 1px #c6afa1;
  padding-left: 16px;
  margin-left: 93px;
}
/* line 71, ../sass/style.scss */
html .button a {
  font-family: OpenSansItalic;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  color: #c6afa1;
  text-decoration: none;
  line-height: 27px;
  display: block;
  position: relative;
}
/* line 81, ../sass/style.scss */
html .button a span {
  font-family: OpenSans;
  font-style: normal;
  border-left: 1px solid;
  margin-left: 8px;
  padding-left: 12px;
  height: 24px;
  line-height: 25px;
  position: absolute;
  margin-top: 2px;
}
/* line 95, ../sass/style.scss */
html #map {
  height: 420px;
  width: 555px;
}
/* line 99, ../sass/style.scss */
html .gm-style-iw * {
  display: block;
  width: 100%;
}
/* line 103, ../sass/style.scss */
html .gm-style-iw h4, html .gm-style-iw p {
  margin: 0;
  padding: 0;
}
/* line 107, ../sass/style.scss */
html .gm-style-iw a {
  color: #4272db;
}

/* line 112, ../sass/style.scss */
body {
  font-family: OpenSans;
}

/* line 117, ../sass/style.scss */
.header .white_line {
  height: 68px;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba(155, 154, 155, 0.28);
}
/* line 122, ../sass/style.scss */
.header .site-branding {
  float: left;
  margin-top: 17px;
}
/* line 126, ../sass/style.scss */
.header .menu-toggle {
  display: none;
  float: right;
  margin-top: 12px;
  border: 0;
  background-color: #fff;
}
/* line 135, ../sass/style.scss */
.header header nav {
  float: right;
  /* Change the link color on hover */
}
/* line 137, ../sass/style.scss */
.header header nav ul {
  list-style-type: none;
  margin-top: 23px;
  padding: 0;
}
/* line 142, ../sass/style.scss */
.header header nav li {
  float: left;
}
/* line 145, ../sass/style.scss */
.header header nav li a {
  display: block;
  font-family: CormorantBold;
  font-size: 19px;
  font-weight: 700;
  color: #932724;
  margin-left: 50px;
  text-decoration: none;
}
/* line 156, ../sass/style.scss */
.header header nav li a:hover {
  background-color: #555;
  color: white;
}

/* line 166, ../sass/style.scss */
.top_content {
  background: url(../images/city_house.jpg) no-repeat center;
  background-size: cover;
}
/* line 170, ../sass/style.scss */
.top_content .logo {
  margin-top: 277px;
  text-align: center;
}
/* line 174, ../sass/style.scss */
.top_content .site-description {
  font-family: OpenSans;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.38;
  color: #932724;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 227px;
}

/* line 187, ../sass/style.scss */
.slider_top {
  position: relative;
  max-width: 945px;
  max-height: 379px;
  margin: -199px auto 0;
  box-shadow: 0 0 30px 10px rgba(155, 155, 155, 0.5);
  border-radius: 5px;
  overflow: hidden;
}
/* line 196, ../sass/style.scss */
.slider_top .item img {
  width: 100%;
}
/* line 200, ../sass/style.scss */
.slider_top img {
  border-radius: 5px;
}
/* line 203, ../sass/style.scss */
.slider_top .slick-prev {
  position: absolute;
  right: 31px;
  bottom: -1px;
  z-index: 10;
}
/* line 209, ../sass/style.scss */
.slider_top .slick-next {
  position: absolute;
  right: 0;
  bottom: -1px;
}

/* line 216, ../sass/style.scss */
.about_advantages {
  margin-top: 130px;
}
/* line 218, ../sass/style.scss */
.about_advantages .title {
  font-family: CormorantSemiBold;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #3e3e3e;
}
/* line 225, ../sass/style.scss */
.about_advantages .line {
  width: 66px;
  height: 2px;
  border-bottom: solid 2px #932724;
  margin-top: 16px;
}
/* line 231, ../sass/style.scss */
.about_advantages .about {
  overflow: hidden;
}
/* line 233, ../sass/style.scss */
.about_advantages .about .text {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  color: #9d9d9d;
  margin-left: 94px;
  margin-top: -9px;
}
/* line 242, ../sass/style.scss */
.about_advantages .about .register_button {
  margin-top: 42px;
  float: right;
}
/* line 248, ../sass/style.scss */
.about_advantages .advantages img {
  width: 65px;
  height: 65px;
  margin-left: 94px;
  margin-bottom: 65px;
}
/* line 254, ../sass/style.scss */
.about_advantages .advantages p {
  font-family: OpenSansSemibold;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.78;
  color: #3e3e3e;
  margin-left: 187px;
  margin-top: -110px;
  margin-bottom: 71px;
}
/* line 263, ../sass/style.scss */
.about_advantages .advantages p:last-child {
  margin-top: -130px;
}

/* line 271, ../sass/style.scss */
.treatment .title {
  font-family: CormorantSemiBold;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #3e3e3e;
  text-align: center;
  margin-top: 36px;
}
/* line 280, ../sass/style.scss */
.treatment .line {
  width: 66px;
  height: 2px;
  border-bottom: 2px solid  #932724;
  margin: 0 auto;
  margin-top: 14px;
}
/* line 287, ../sass/style.scss */
.treatment .disc {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: #9d9d9d;
  margin-top: 25px;
}
/* line 296, ../sass/style.scss */
.treatment .items {
  margin-top: 38px;
}
/* line 298, ../sass/style.scss */
.treatment .items .item {
  margin: 0 auto;
  max-width: 360px;
  overflow: hidden;
  padding-top: 48px;
  height: 235px;
}
/* line 304, ../sass/style.scss */
.treatment .items .item img {
  float: left;
}
/* line 307, ../sass/style.scss */
.treatment .items .item .title {
  font-family: OpenSansSemibold;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.78;
  color: #3e3e3e;
  text-align: left;
  margin: 0;
  margin-left: 93px;
  margin-bottom: 15px;
}
/* line 318, ../sass/style.scss */
.treatment .items .item .text {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  color: #9d9d9d;
  margin-left: 93px;
  margin-bottom: 18px;
}
/* line 329, ../sass/style.scss */
.treatment .register_button {
  margin: 31px auto 0;
}

/* line 334, ../sass/style.scss */
.price_list {
  margin-top: 130px;
}
/* line 336, ../sass/style.scss */
.price_list .title {
  font-family: CormorantSemiBold;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #3e3e3e;
}
/* line 343, ../sass/style.scss */
.price_list .line {
  width: 66px;
  height: 2px;
  border-bottom: solid 2px #932724;
  margin-top: 16px;
}
/* line 349, ../sass/style.scss */
.price_list .priceList {
  overflow: hidden;
  max-width: 555px;
  margin: 0 auto;
}
/* line 353, ../sass/style.scss */
.price_list .priceList .text {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  color: #9d9d9d;
  margin-left: 94px;
  margin-top: -9px;
}
/* line 363, ../sass/style.scss */
.price_list .priceList .register_button {
  margin-top: 42px;
  float: right;
  display: block;
}
/* line 369, ../sass/style.scss */
.price_list .tablet-res {
  display: none;
}
/* line 372, ../sass/style.scss */
.price_list .price {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 0 30px 10px rgba(155, 155, 155, 0.1);
  color: #9d9d9d;
  max-width: 555px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0 auto;
}
/* line 386, ../sass/style.scss */
.price_list .price .col_name {
  margin-bottom: 29px;
  padding-left: 19px;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 15px;
}
/* line 391, ../sass/style.scss */
.price_list .price .col_name span {
  color: #3e3e3e;
}
/* line 395, ../sass/style.scss */
.price_list .price .col_price {
  margin-left: 312px;
  margin-top: -69px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  display: block;
}
/* line 401, ../sass/style.scss */
.price_list .price .col_price span {
  color: #3e3e3e;
}
/* line 404, ../sass/style.scss */
.price_list .price .col_price span span.stick {
  margin-left: -27px;
  padding-right: 10px;
}
/* line 410, ../sass/style.scss */
.price_list .price .button {
  margin-left: 314px;
}

/* line 417, ../sass/style.scss */
.photo_gallery .title {
  font-family: CormorantSemiBold;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #3e3e3e;
  text-align: center;
}
/* line 425, ../sass/style.scss */
.photo_gallery .line {
  width: 66px;
  height: 2px;
  border-bottom: 2px solid  #932724;
  margin: 0 auto;
  margin-top: 14px;
}
/* line 432, ../sass/style.scss */
.photo_gallery .description {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
  text-align: center;
  color: #9d9d9d;
  margin-top: 24px;
  margin-bottom: 20px;
}
/* line 442, ../sass/style.scss */
.photo_gallery .slider_bottom {
  margin-top: 66px;
  border-radius: 2px;
  position: relative;
  margin: 0 -15px;
}
/* line 447, ../sass/style.scss */
.photo_gallery .slider_bottom .item {
  opacity: 0.46;
  background-color: #eed2be;
  margin: 0 15px;
}
/* line 451, ../sass/style.scss */
.photo_gallery .slider_bottom .item img {
  width: 100%;
}
/* line 454, ../sass/style.scss */
.photo_gallery .slider_bottom .item:hover {
  opacity: 1;
  cursor: url("../images/cursor_arrow.png"), auto;
}
/* line 459, ../sass/style.scss */
.photo_gallery .slider_bottom img {
  border-radius: 2px;
}
/* line 462, ../sass/style.scss */
.photo_gallery .slider_bottom .slick-prev {
  position: absolute;
  right: 44px;
  bottom: 0;
  z-index: 10;
}
/* line 468, ../sass/style.scss */
.photo_gallery .slider_bottom .slick-next {
  position: absolute;
  right: 13px;
  bottom: 0;
}

/* line 476, ../sass/style.scss */
.register_form {
  position: relative;
  max-width: 750px;
  margin: 70px auto 0;
  border-radius: 2px;
  background-color: #fffffd;
  box-shadow: 0 0 30px 10px rgba(155, 155, 155, 0.1);
  border: solid 1px #932724;
  overflow: hidden;
}
/* line 485, ../sass/style.scss */
.register_form .left {
  width: 341px;
  float: left;
  margin-right: 48px;
}
/* line 489, ../sass/style.scss */
.register_form .left .title {
  font-family: CormorantBold;
  font-size: 30px;
  font-weight: 700;
  color: #932724;
  margin-left: 27px;
  margin-top: 35px;
  z-index: 2;
}
/* line 498, ../sass/style.scss */
.register_form .left img {
  float: left;
  width: 286px;
  z-index: 1;
  margin-top: -70px;
}
/* line 505, ../sass/style.scss */
.register_form .wrap {
  margin-top: 32px;
  height: 37px;
  display: block;
  margin-bottom: 5px;
}
/* line 510, ../sass/style.scss */
.register_form .wrap label {
  display: block;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  color: #9d9d9d;
}
/* line 518, ../sass/style.scss */
.register_form .wrap label span {
  font-size: 10px;
  line-height: 1.7;
  color: #932724;
}
/* line 524, ../sass/style.scss */
.register_form .wrap input[type="text"] {
  border: 0;
  border-bottom: 1px solid #f2f2f2;
  width: 327px;
  background-color: transparent;
  font-size: 14px;
  padding-bottom: 10px;
}
/* line 532, ../sass/style.scss */
.register_form .wrap input[type="submit"] {
  width: 127px;
  height: 45px;
  border: 0;
  border-radius: 2px;
  background-color: #932724;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #fafafa;
  float: right;
  margin-right: 28px;
}
/* line 546, ../sass/style.scss */
.register_form .wrap select {
  width: 320px;
  background-color: #fff;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  color: #9d9d9d;
  border: 0;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 10px;
}

/* line 561, ../sass/style.scss */
.address {
  margin-top: 130px;
}
/* line 563, ../sass/style.scss */
.address .map {
  max-height: 420px;
  max-width: 555px;
}
/* line 566, ../sass/style.scss */
.address .map #map {
  width: 100%;
}
/* line 569, ../sass/style.scss */
.address .map .gm-style-iw * {
  display: block;
  width: 100%;
}
/* line 573, ../sass/style.scss */
.address .map .gm-style-iw h4, .address .map .gm-style-iw p {
  margin: 0;
  padding: 0;
}
/* line 577, ../sass/style.scss */
.address .map .gm-style-iw a {
  color: #4272db;
}
/* line 582, ../sass/style.scss */
.address .title {
  font-family: CormorantSemiBold;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #3e3e3e;
}
/* line 589, ../sass/style.scss */
.address .line {
  width: 66px;
  height: 2px;
  border-bottom: solid 2px #932724;
  margin-top: 16px;
}
/* line 595, ../sass/style.scss */
.address .addressList {
  max-width: 555px;
  margin: 0 auto;
}
/* line 598, ../sass/style.scss */
.address .addressList .text {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  color: #9d9d9d;
  margin-left: 94px;
  margin-top: -9px;
}
/* line 607, ../sass/style.scss */
.address .addressList .register_button {
  margin-top: 42px;
  float: right;
}
/* line 612, ../sass/style.scss */
.address .addressList .text p {
  margin-bottom: 35px;
}
/* line 614, ../sass/style.scss */
.address .addressList .text p:last-child {
  margin-bottom: 15px;
}
/* line 619, ../sass/style.scss */
.address .addressList img {
  margin-right: 18px;
}
/* line 623, ../sass/style.scss */
.address .map {
  max-width: 555px;
  margin: 0 auto;
}

/* line 628, ../sass/style.scss */
footer {
  height: 75px;
  background-color: #3e3e3e;
  padding-left: 0;
  padding-right: 0;
  margin-left: -30px;
  margin-right: -30px;
}
/* line 635, ../sass/style.scss */
footer .name_site {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  color: #ffffff;
  text-align: center;
  padding-top: 12px;
}
/* line 644, ../sass/style.scss */
footer .copy {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  color: #ffffff;
  text-align: center;
  margin-top: 8px;
}

@media only screen and (max-width: 1170px) {
  /* line 659, ../sass/style.scss */
  .header .white_line {
    height: 46px !important;
  }
  /* line 662, ../sass/style.scss */
  .header .site-branding {
    margin-top: 5px;
  }
  /* line 665, ../sass/style.scss */
  .header .menu-toggle {
    display: block !important;
  }
  /* line 668, ../sass/style.scss */
  .header nav ul {
    display: none !important;
  }
}
@media only screen and (max-width: 991px) {
  /* line 677, ../sass/style.scss */
  .desc-res {
    display: none !important;
  }

  /* line 680, ../sass/style.scss */
  .tablet-res {
    display: block !important;
  }
}
@media only screen and (max-width: 768px) {
  /* line 687, ../sass/style.scss */
  .top_content .logo {
    margin-top: 162px;
  }
  /* line 690, ../sass/style.scss */
  .top_content .site-description {
    font-weight: 400;
    color: #932724;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 227px;
    font-size: 36px;
    line-height: 1.53;
  }

  max-width: 555px;
  margin: 0 auto;
  /* line 702, ../sass/style.scss */
  .slider_top {
    margin: -135px auto 0;
  }

  /* line 705, ../sass/style.scss */
  .about_advantages {
    margin-top: 74px;
  }
  /* line 708, ../sass/style.scss */
  .about_advantages .about {
    max-width: 555px;
    margin: 0 auto;
  }
  /* line 712, ../sass/style.scss */
  .about_advantages .advantages {
    max-width: 555px;
    margin: 31px auto 0;
  }

  /* line 717, ../sass/style.scss */
  .treatment {
    margin-top: 90px;
  }
  /* line 719, ../sass/style.scss */
  .treatment .register_button {
    margin: 9px auto 0;
  }

  /* line 723, ../sass/style.scss */
  .price_list {
    margin-top: 111px;
  }
  /* line 725, ../sass/style.scss */
  .price_list .price {
    margin-top: 62px;
  }
  /* line 728, ../sass/style.scss */
  .price_list .tablet-res {
    margin: 62px auto 112px;
  }

  /* line 733, ../sass/style.scss */
  .slider_bottom .slick-center {
    opacity: 1 !important;
  }

  /* line 737, ../sass/style.scss */
  .register_form {
    margin-top: 85px;
  }

  /* line 740, ../sass/style.scss */
  .address {
    margin-top: 152px;
  }
  /* line 742, ../sass/style.scss */
  .address .map {
    margin-top: 49px;
  }
}
@media only screen and (max-width: 539px) {
  /* line 751, ../sass/style.scss */
  html .register_button {
    max-width: 266px;
    height: 45px;
    margin: 0 auto;
    float: none !important;
  }

  /* line 758, ../sass/style.scss */
  .site-branding img {
    max-width: 215px;
  }

  /* line 761, ../sass/style.scss */
  .menu-toggle {
    margin-top: 10px !important;
  }

  /* line 765, ../sass/style.scss */
  .top_content .logo {
    margin-top: 124px;
  }
  /* line 768, ../sass/style.scss */
  .top_content .site-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
  }

  /* line 776, ../sass/style.scss */
  .about_advantages .about .title {
    text-align: center;
  }
  /* line 779, ../sass/style.scss */
  .about_advantages .about .line {
    margin: 16px auto 0;
  }
  /* line 782, ../sass/style.scss */
  .about_advantages .about .text {
    margin-left: 0;
    margin-top: 37px;
  }
  /* line 788, ../sass/style.scss */
  .about_advantages .advantages .title {
    text-align: center;
  }
  /* line 791, ../sass/style.scss */
  .about_advantages .advantages .line {
    margin: 16px auto 0;
  }
  /* line 794, ../sass/style.scss */
  .about_advantages .advantages .content {
    margin-left: 0;
    margin-top: 37px;
  }
  /* line 797, ../sass/style.scss */
  .about_advantages .advantages .content img {
    margin-left: 0;
  }
  /* line 800, ../sass/style.scss */
  .about_advantages .advantages .content p {
    margin-left: 90px;
  }

  /* line 806, ../sass/style.scss */
  .treatment {
    margin-top: 44px;
  }
  /* line 809, ../sass/style.scss */
  .treatment .items .item {
    width: 250px;
    height: 176px;
    background-color: #fffffd;
    box-shadow: 0 0 8px 2px rgba(155, 155, 155, 0.2);
    padding: 0;
    margin: 6px;
    padding-top: 10px;
  }
  /* line 817, ../sass/style.scss */
  .treatment .items .item img {
    max-width: 54px;
    margin-left: 14px;
  }
  /* line 821, ../sass/style.scss */
  .treatment .items .item .title {
    font-family: OpenSansSemibold;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #3e3e3e;
    text-align: left;
    margin-left: 80px;
    margin-bottom: 15px;
  }
  /* line 831, ../sass/style.scss */
  .treatment .items .item .text {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.38;
    color: #9d9d9d;
    margin-left: 80px;
    margin-bottom: 18px;
  }
  /* line 840, ../sass/style.scss */
  .treatment .items .item .button {
    width: 138px;
    height: 30px;
    border-radius: 2px;
    border: solid 1px #c6afa1;
    padding-left: 12px;
    margin-left: 80px;
  }
  /* line 850, ../sass/style.scss */
  .treatment #slickCounter {
    font-family: OpenSansItalic;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.2px;
    text-align: center;
    color: #9d9d9d;
    margin-top: 27px;
    margin-bottom: 25px;
  }

  /* line 864, ../sass/style.scss */
  .price_list .priceList .title {
    text-align: center;
  }
  /* line 867, ../sass/style.scss */
  .price_list .priceList .line {
    margin: 16px auto 0;
  }
  /* line 870, ../sass/style.scss */
  .price_list .priceList .text {
    margin-left: 0;
    margin-top: 41px;
  }
  /* line 875, ../sass/style.scss */
  .price_list .price {
    overflow: hidden;
  }
  /* line 877, ../sass/style.scss */
  .price_list .price .head_price {
    display: none;
  }
  /* line 880, ../sass/style.scss */
  .price_list .price .head_name {
    font-family: OpenSansBold;
    font-size: 16px;
    font-weight: 700;
    color: #3e3e3e !important;
    margin-bottom: 29px !important;
  }
  /* line 887, ../sass/style.scss */
  .price_list .price .col_name {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: OpenSansBold;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.38;
    color: #9d9d9d;
    margin-bottom: 14px;
  }
  /* line 898, ../sass/style.scss */
  .price_list .price .col_price {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
  }
  /* line 903, ../sass/style.scss */
  .price_list .price .button {
    float: right;
    margin: 0;
    margin-right: 30px;
  }

  /* line 910, ../sass/style.scss */
  .photo_gallery {
    display: none;
  }

  /* line 913, ../sass/style.scss */
  .register_form {
    margin-top: -8px;
    padding-bottom: 20px;
    padding-top: 28px;
  }
  /* line 917, ../sass/style.scss */
  .register_form .left {
    width: auto;
    float: none;
    margin: 0;
  }
  /* line 921, ../sass/style.scss */
  .register_form .left .title {
    font-family: CormorantBold;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #932724;
    margin: 0;
  }
  /* line 929, ../sass/style.scss */
  .register_form .left img {
    display: none;
  }
  /* line 933, ../sass/style.scss */
  .register_form .wrap {
    padding-left: 18px;
    padding-right: 18px;
  }
  /* line 936, ../sass/style.scss */
  .register_form .wrap input[type="text"] {
    width: 100%;
  }
  /* line 940, ../sass/style.scss */
  .register_form .wrap select {
    width: 100%;
  }
  /* line 943, ../sass/style.scss */
  .register_form .wrap input[type="submit"] {
    float: none !important;
    margin: 0 auto !important;
    padding: 0 !important;
    display: block;
  }
}
